.section-meal-header {
    width: 100%;
    height: 60px;
    transform: translateY(15px);
    z-index: 2;
    position: absolute;
}

.smh-title {
    opacity: 0;
    font-size: 22px;
    color: #66b227;
    transition: all 0.6s;
}
/* Closed section */

section.hide .section-meal-header {
    border: 1px solid #444;
    background-color: rgba(29, 29, 29, 0.6);
    transform: translateY(0);
    position: relative;
}

section.hide .section-meal-header .smh-title{
    opacity: 1;
}

section.hide .section-meal-header .toggle-btn:after{
    background-image: url("../../assets/images/icons/down-arrow-orange.svg");
}

@media (min-width:768px){
    section.hide .section-meal-header {
        border-radius: 6px;
        transform: translate(0, 0);
        left: auto;
    }

    section .section-meal-header {
        transform: translate(-50%, 100px);
        left: 50%;
    }

    

}